altair==5.5.0
asttokens==3.0.0
attrs==25.4.0
black==25.1.0
blinker==1.9.0
cachetools==6.2.1
cairocffi==1.7.1
cairosvg==2.8.2
certifi==2025.10.5
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.0
code2flow==2.5.1
cssselect2==0.8.0
decorator==5.2.1
defusedxml==0.7.1
et-xmlfile==2.0.0
executing==2.2.0
flake8==7.3.0
fonttools==4.59.0
gitdb==4.0.12
gitpython==3.1.45
idna==3.11
iniconfig==2.1.0
ipython==9.4.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown==3.8.2
markupsafe==3.0.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.1.0
narwhals==2.10.1
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==12.0.0
pip==25.3
platformdirs==4.3.8
plotly==6.3.1
pluggy==1.6.0
prompt-toolkit==3.0.51
protobuf==6.33.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==21.0.0
pycodestyle==2.14.0
pycparser==2.22
pydeck==0.9.1
pyflakes==3.4.0
pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.37.0
reportlab==4.4.4
requests==2.32.5
rpds-py==0.28.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
stack-data==0.6.3
streamlit==1.51.0
tenacity==9.1.2
tinycss2==1.4.0
toml==0.10.2
tornado==6.5.2
traitlets==5.14.3
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.45.1
