# requirements.txt

altair==6.0.0
asttokens==3.0.1
attrs==25.4.0
black==25.12.0
blinker==1.9.0
cachetools==6.2.4
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
code2flow==2.5.1
cssselect2==0.8.0
decorator==5.2.1
defusedxml==0.7.1
duckdb==1.4.3
duckdb_engine==0.17.0
et_xmlfile==2.0.0
executing==2.2.1
flake8==7.3.0
fonttools==4.61.1
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.3.0
idna==3.11
iniconfig==2.3.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
Markdown==3.10
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mccabe==0.7.0
mypy_extensions==1.1.0
narwhals==2.14.0
numpy==2.4.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.1
plotly==6.5.0
pluggy==1.6.0
prompt_toolkit==3.0.52
protobuf==6.33.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycodestyle==2.14.0
pycparser==2.23
pydeck==0.9.1
pyflakes==3.4.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
referencing==0.37.0
reportlab==4.4.7
requests==2.32.5
rpds-py==0.30.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.45
stack-data==0.6.3
streamlit==1.52.2
tenacity==9.1.2
tinycss2==1.5.1
toml==0.10.2
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
wcwidth==0.2.14
webencodings==0.5.1
wheel==0.45.1
